.movie {
  height: 50vh;
  max-width: 800px;

  .data {
    flex-direction: column;
    padding-right: 15px;

    & > div {
      justify-content: flex-start;
      height: fit-content;

      strong {
        margin-right: 8px;
        font-weight: bold;
      }
    }

    .title {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    .description {
      font-size: 16px;
      margin-bottom: 20px;
    }
    
    .actors {
      font-size: 16px;
      margin-bottom: 6px;
    }
  }

  .poster {
    width: fit-content;
    height: fit-content;

    img {
      object-fit: contain;
      border: 3px solid rgba(0, 0, 0, 0.5);
      min-width: 220px;
    }
  }
}
